@font-face {
  font-family: "Righteous";
  src: url("Righteous-Regular.ttf");
}

body {
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 1.5rem;
  background: #2e2e2e;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.time {
  font-size: 7rem;
  font-family: sans-serif;
  color: #ccc;
  text-align: center;
  font-family: "Righteous";
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.dots {
  margin: 0 0.75rem;
}

.highlighted {
  color: #3b88da;
}

.icons {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 3rem;
  right: 3rem;
  display: flex;
  align-items: center;
}

.icon-muted,
.icon-speaker {
  transition: opacity 0.3s ease;
}

.icon-muted {
  height: 50%;
}

.icon-speaker {
  height: 70%;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.slider-container {
  position: absolute;
  right: 3rem;
  top: 9rem;
  width: 5rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.slider {
  cursor: pointer;
  position: absolute;
  width: 130%;
}
